<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.taxime">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".HomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SelectVehicleActivity"
            android:label="@string/select_vehicle" />
        <activity
            android:name=".PickupAddressActivity"
            android:label="@string/pickup_address" />
        <activity
            android:name=".EnterPickupAddressActivity"
            android:label="@string/enter_pickup_address" />
        <activity android:name=".EnterOtherInfoActivity"
            android:label="@string/enter_other_info"/>
        <activity android:name=".ReviewBookingActivity"
            android:label="@string/review_booking"></activity>
    </application>

</manifest>